


{% extends 'hospital/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <br><br><br><br><br><br><br>
  <h1 class="display-4" style="text-align:center;">Admin (Saifullah)</h1>
  <p class="lead">Welcome to National Healthcare Online Management.</p>
  <hr class="my-4">
  <p>Only admin can Login.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
    <br><br><br><br><br><br><br>
  </p>
</div>

{% endblock content %}
